{% extends "inventory/base.html" %}

{% block breadcrumbs %}
<li>
  <a href="{% url 'inventory:index' %}">Inventory Dashboard</a>
</li>
{% endblock %}


{% block content %}
<div class="content">

  <p class="alert alert-info">
  This site is in Beta version. Please visit Angaza's <a href="https://payg.angazadesign.com">Energy Hub</a> for accurate transaction information at this stage.
  </p>

  <div class="tab-content">
    <div class="tab-pane active" id="suggestions">
      <table class="sort table" style="width:50%">
        <thead>
          <tr>
            <th> Warehouse </th>
            {% for p in products_list %}
            <th style="text-align:right"> {{ p.name }} </th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for w_name, item_list in invItem_listAll.items %}
          {% if w_name != "_Client" and w_name != "_Supplier" %}
          <tr>
            <th>
              <a href="{% url 'inventory:warehouse' w_name %}">{{ w_name }}</a>
            </th>
            {% for item in item_list %}
            <td>
              {% if item.get_invDays_14 == -1 or item.get_invDays_14 >= 14 %}
              <span class="label-success badge">
              {% endif %}
              {% if item.get_invDays_14 >= 7 and item.get_invDays_14 < 14 %}
              <span class="label-warning badge">
              {% endif %}
              {% if item.get_invDays_14 >= 0 and item.get_invDays_14 < 7 %}
              <span class="label-danger badge">
              {% endif %}
                  {{ item.qty }}
              </span>
            </td>
            {% endfor %}
          </tr>
          {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

</div>
{% endblock %}
