{% extends "base.html" %}

<head>
  <title>Pulse > Inventory</title>
  <meta name="description" content="Inventory summary" />
</head>

{% block menu %}
  {% include "inventory/menu.html" %}
{% endblock %}

{% block breadcrumbs %}
<li>
  <a href="{% url 'inventory:index' %}">Inventory Dashboard</a>
</li>
{% endblock %}


{% block content %}
<div class="content">

  <div class="col-lg-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h4 class="panel-title">Inventory Summary</h4>
      </div>
      <table class="sort table" style="width:100%">
        <thead>
          <tr>
            <th> Warehouse </th>
            {% for p in products_list %}
            <th style="text-align:right"> {{ p.name }} </th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for w_name, item_list in invItem_listAll.items %}
          {% if w_name != "_Client" and w_name != "_Supplier" %}
          <tr>
            <th>
              <a href="{% url 'inventory:warehouse' w_name %}">{{ w_name }}</a>
            </th>
            {% for item in item_list %}
            <td>
              {% if item.get_invDays_14 == -1 or item.get_invDays_14 >= 14 %}
              <span class="label-success badge">
              {% endif %}
              {% if item.get_invDays_14 >= 7 and item.get_invDays_14 < 14 %}
              <span class="label-warning badge">
              {% endif %}
              {% if item.get_invDays_14 >= 0 and item.get_invDays_14 < 7 %}
              <span class="label-danger badge">
              {% endif %}
              {{ item.qty }}
              </span>
            </td>
            {% endfor %}
          </tr>
          {% endif %}
          {% endfor %}
        </tbody>
      </table>
      <div class="panel-footer">
        <span class="label-success badge">__</span> : more than 14 days
        &nbsp &nbsp &nbsp &nbsp
        <span class="label-warning badge">__</span> : 7 to 14 days
        &nbsp &nbsp &nbsp &nbsp
        <span class="label-danger badge">__</span> : less than 7 days
      </div>
    </div>
  </div>

  <div class="col-lg-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h4 class="panel-title">Record a transfer</h4>
      </div>
      <div class="panel-body">
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        <form action="{% url 'inventory:confirmation' %}" method="post">
          <fieldset>
            {% csrf_token %}
            <label class="control-label">Origin</label><br>
            <select name="origin" class="select form-control"> 
              {% for w in warehouse_list %} 
              {% if w.name != "_Client" %} 
              <option value="{{ w.name }}">{{ w.name }}</option> 
              {% endif %}
              {% endfor %}
            </select>
            <br>
            <label class="control-label">Destination</label><br>
            <select name="destination" class="select form-control"> 
              {% for w in warehouse_list %} 
              {% if w.name != "_Client" and w.name != "_Supplier" %} 
              <option value="{{ w.name }}">{{ w.name }}</option> 
              {% endif %}
              {% endfor %}
            </select>
            <br>
            <label class="control-label">Product</label><br>
            <select name="product" class="select form-control">
              {% for p in products_list %}
              <option value="{{ p.name }}">{{ p.name }}</option>
              {% endfor %}
            </select> 
            <br> 
            <label class="control-label">Quantity</label><br>
            <input type="text" name="qty" value="0" class="textinput
            form-control"></input>
            <br>
            <input type="hidden" value="index.html" name="page_from">
            <input type="submit" value="Record transfer" class="btn btn-default"/>
          </fieldset>
        </form>
      </div>
    </div>
  </div>

</div>
{% endblock %}
