{% extends "base.html" %}

<head>
  <title>Pulse > Warehouse detail</title>
  <meta name="description" content="Warehouse detail" />
</head>

{% block menu %}
  {% include "inventory/menu.html" %}
{% endblock %}

{% block breadcrumbs %}
<li>
<a href="{% url 'inventory:warehouse' warehouse %}">{{ warehouse.name }}</a>
</li>
{% endblock %}

{% block content %}
<div class="content">

  <div class="panel panel-primary">
    <div class="panel-heading">
      <h4 class="panel-title">Inventory and recent sales</h4>
    </div>
    <table class="sort table" style="width:100%">
      <thead>
        <tr>
          <th colspan="2">Product</th>
          <th style="text-align:right">Inventory</th>
          <th></th>
          <th style="text-align:right">Sold last 7 days</th>
          <th style="text-align:right">Sold last 14 days</th>
          <th style="text-align:right">Sold last 30 days</th>
        </tr>
      </thead>
      <tbody>
        {% for p in invItem_list %}
        <tr>
          <th colspan="2">{{ p.product.name }}</th>
          <td>
          {% if p.get_invDays_14 == -1 or p.get_invDays_14 >= 14 %}
          <span class="label-success badge">
          {% endif %}
          {% if p.get_invDays_14 >= 7 and p.get_invDays_14 < 14 %}
          <span class="label-warning badge">
          {% endif %}
          {% if p.get_invDays_14 >= 0 and p.get_invDays_14 < 7 %}
          <span class="label-danger badge">
          {% endif %}
          {{ p.qty }}
          </td>
          </span>
          <td></td>
          {% for n in p.get_sold_sample %}
          <td>{{ n }}</td>
          {% endfor %}
          <td></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <div class="panel-footer">
      <span class="label-success badge">__</span> : more than 14 days
      &nbsp &nbsp &nbsp &nbsp
      <span class="label-warning badge">__</span> : 7 to 14 days
      &nbsp &nbsp &nbsp &nbsp
      <span class="label-danger badge">__</span> : less than 7 days
      &nbsp &nbsp &nbsp &nbsp
      (based on average sales over the last 14 days)
    </div>

  </div>

  <div class="panel panel-primary">
    <div class="panel-heading">
      <h4 class="panel-title">Transaction History</h4>
    </div>
  </div>
</div>
{% endblock %}
