{% extends "inventory/base.html" %}

{% block breadcrumbs %}
<li>
<a href="{% url 'inventory:warehouse' warehouse %}">{{ warehouse.name }}</a>
</li>
{% endblock %}

{% block content %}
<div class="content">

  Summary of inventory
  <ul>
    {% for p in invItem_list %}
    <li>{{ p.product.name }}: {{ p.qty }}</li>
    {% endfor %}
  </ul>

  {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

  <form action="{% url 'inventory:confirmation' warehouse.name %}" method="post">
    <fieldset>
      {% csrf_token %}
      <h3> Record a transfer </h3>
      <select name="destination"> 
        {% for w in warehouse_list %} 
        {% if w.name != warehouse.name %} 
        <option value="{{ w.name }}">{{ w.name }}</option> 
        {% endif %}
        {% endfor %}
      </select>
      <br><br>
      <select name="product">
        {% for p in invItem_list %}
        <option value="{{ p.product.name }}">{{ p.product.name }}</option>
        {% endfor %}
      </select> 
      <br><br> 
      <input type="text" name="qty" value="0"> </input>
      <br><br>
      <input type="submit" value="Record transfer" />
    </fieldset>
  </form>

</div>
{% endblock %}
