{% extends "base.html" %}

  <head>
    <title>Pulse</title>
    <meta name="description" content="Pulse index" />
  </head>

  {% block menu %}
    {% include "menu.html" %}
  {% endblock %}

  {% block breadcrumbs %}
    <li>
      <a href="{% url 'index' %}">Dashboard</a>
    </li>
  {% endblock %}

{% block content %}
<div class="content">

  <ul class="nav nav-pills">
    <li class="active"><a href="#data" data-toggle="tab">Data</a></li>
    <li><a href="#graphs" data-toggle="tab" data-load="activity"
      data-pay_num_week="{% url 'sales:pay_num_week' %}"
      data-pay_vol_week="{% url 'sales:pay_vol_week' %}"
      data-acc_new_week="{% url 'sales:acc_new_week' %}"
      data-rev_new_week="{% url 'sales:rev_new_week' %}"
      data-acc_num_dis="{% url 'sales:acc_num_dis' %}"
      data-acc_out_dis="{% url 'sales:acc_out_dis' %}"
      >Graphs</a></li>
  </ul>

  <div class="tab-content">

    <div class="tab-pane active" id="data">
    </div>

    <div class="tab-pane" id="graphs">
      {% include "sales/activity_graphs.html" %}
    </div>

  </div>

</div>
{% endblock %}
