{% load static %}

<a class="navbar-brand" href="{% url 'index' %}"><img class="avatar" src="{% static 'easysolar-128.png' %}" style="margin-bottom:2px;"/> Pulse</a>
</div>

<div class="collapse navbar-collapse" id="wl-navbar-main">
  <ul class="nav navbar-nav">
    <li><a href="{% url 'index' %}">Dashboard</a></li>
    <li><a href="{% url 'sales:index' %}">Sales</a></li>
    <li><a href="{% url 'inventory:index' %}">Inventory</a></li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">System<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="{% url 'admin:index' %}">Admin</a></li>
          <li><a href="{% url 'admin:index' %}">
              Last update: {{ last_update.hours_since|floatformat }}h ago</a></li>
          <li><a href="{% url 'admin:index' %}">
              Last full update: {{ last_full_update.hours_since|floatformat }}h ago</a></li>
        </ul>
    </li>
  </ul>
</div>
