{% extends "base.html" %}

<head>
  <title>Pulse > Account detail</title>
  <meta name="description" content="Account detail" />
</head>

{% block menu %}
  {% include "sales/menu.html" %}
{% endblock %}

{% block breadcrumbs %}
  <li>
    {{ account.account_GLP }} ({{ account.account_Angaza }})
  </li>
{% endblock %}

{% block content %}
<div class="content">

  <ul class="nav nav-pills">
    <li class="active"><a href="#summary" data-toggle="tab">Summary</a></li>
    <li><a href="#payments" data-toggle="tab">Payments history</a></li>
  </ul>

  <div class="tab-content">

    <div class="tab-pane active" id="summary">
      <div class="panel panel-primary">
        <div class="panel-heading"><h4 class="panel-title">Account information</h4></div>
      </div>
    </div>

    <div class="tab-pane" id="payments">
      <div class="panel panel-primary">
        <div class="panel-heading"><h4 class="panel-title">Payments history</h4></div>
      </div>
    </div>

{% endblock %}
