{% extends "base.html" %}
{% load humanize %}

<head>
  <title>Pulse > Accounts</title>
  <meta name="description" content="Index of accounts" />
</head>

{% block menu %}
  {% include "sales/menu.html" %}
{% endblock %}

{% block breadcrumbs %}
  <li>
    Accounts index
  </li>
{% endblock %}

{% block content %}

<div class="content">

  <ul class="nav nav-pills">
    <li class="active"><a href="#stats" data-toggle="tab">General Stats</a></li>
    <li><a href="#graphs" data-toggle="tab">Graphs</a></li>
  </ul>

  <div class="tab-content">

    <div class="tab-pane active" id="stats">

      {% with accounts as active %}
      <div class="col-lg-4">
        <div class="panel panel-primary">
          <div class="panel-heading"><h4 class="panel-title">Total</h4></div>
            <div class="panel-body">
              <table class="table table-condensed table-striped">
                <tr><th>Nb of accounts</th>
                  <td>{{ active.nb_sold|intcomma }}</td></tr>
                <tr><th>Revenue</th>
                  <td>{{ active.revenue|intcomma }}</td></tr>
                <tr><th>Avg unit price</th>
                  <td>{{ active.avg_price|intcomma }}</td></tr>
              </table>
            </div>
        </div>
      </div>
      {% endwith %}

    </div>

    <div class="tab-pane" id="graphs">
    </div>

  </div>
</div>

{% endblock %}
