{% extends "base.html" %}

<head>
  <title>{% include "title.html" %}</title>
  <meta name="description" content="{{ description }}" />
</head>

{% block menu %}
  {% include "sales/menu.html" %}
{% endblock %}

{% block breadcrumbs %}
  <li>
    {{ agent.location }} ({{ agent.firstname }} {{ agent.lastname }})
  </li>
{% endblock %}

{% block content %}
<div class="content">

  <ul class="nav nav-pills">
    <li class="active"><a href="#summary" data-toggle="tab">Summary</a></li>
    <li><a href="#par7" data-toggle="tab">PAR (7 days)</a></li>
    <li><a href="#pdp14" data-toggle="tab">PDP (14 days)</a></li>
    <li><a href="#reposess" data-toggle="tab">To Reposess</a></li>
    <li><a href="#transaction" data-toggle="tab">Transaction History</a></li>
  </ul>

  <div class="tab-content">

    <div class="tab-pane active" id="summary">
      <div class="panel panel-primary">
        <div class="panel-heading"><h4 class="panel-title">Summary</h4></div>
      </div>
    </div>

    <div class="tab-pane" id="par7">
      <div class="panel panel-primary">
        <div class="panel-heading"><h4 class="panel-title">Accounts currently disabled for 7 days+</h4></div>
      </div>
      {% with active_table=par7_table %}
      {% include "sales/boxes_account_list.html" %}
      {% endwith %}
    </div>

    <div class="tab-pane" id="pdp14">
      <div class="panel panel-primary">
        <div class="panel-heading"><h4 class="panel-title">Accounts disabled in total for 14 days+</h4></div>
      </div>
      {% with active_table=pdp14_table %}
      {% include "sales/boxes_account_list.html" %}
      {% endwith %}
    </div>

    <div class="tab-pane" id="reposess">
      <div class="panel panel-primary">
        <div class="panel-heading"><h4 class="panel-title">Products to reposess (disabled in total for 30 days+)</h4></div>
      </div>
      {% with active_table=pdp30_table %}
      {% include "sales/boxes_account_list.html" %}
      {% endwith %}
    </div>

    <div class="tab-pane" id="transaction">
      <div class="panel panel-primary">
        <div class="panel-heading"><h4 class="panel-title">Summary of last payments received</h4></div>
      </div>
    </div>

  </div>
</div>
{% endblock %}
