{% extends "sales/base.html" %}

{% block breadcrumbs %}
Agents
{% endblock %}

{% block content %}
<div class="content">
  {% include "sales/table_account_sets.html" %}
</div>

Full size sortable table with total number of units sold, number of units sold this month and last month, progress bar with  collection ratio for the month, number of accounts disbabled for more than 7 days and PAR% (7 days), number of accounts on PDP with more than 14 days and PDP% (14 days)

Probably want to develop that in an external table format so that it can be reused for the detailed Manager table for their own agents
{% endblock %}
