{% extends "base.html" %}

<head>
  <title>Pulse > Agents</title>
  <meta name="description" content="Agents" />
</head>

{% block menu %}
  {% include "sales/menu.html" %}
{% endblock %}

{% block breadcrumbs %}
All Agents
{% endblock %}

{% block content %}
<div class="content">
  <div class = "panel panel-primary">
    <div class="panel-heading"><h4 class="panel-title">Weekly sales per agent</h4></div>
    {% include "sales/table_accounts_sales.html" %}
  </div>
  <div class = "panel panel-primary">
    <div class="panel-heading"><h4 class="panel-title">PAR per agent</h4></div>
    {% include "sales/table_accounts_PAR.html" %}
  </div>
</div>

{% endblock %}
