{% load humanize %}
{% for line_title, account in active_table.items %}
  <div class="col-lg-4">
    <div class="panel panel-primary">
      <div class="panel-heading"><h4 class="panel-title">
          {% autoescape off %}{{ line_title }}{% endautoescape %}</h4></div>
      <div class="panel-body">
        <table class="table table-condensed table-striped">
          <tr>
            <th>Account</th>
            <td><a href='/sales/accounts/{{ account.account_Angaza }}/'>{{ account.account_GLP }}</a></td>
          </tr>
          <tr>
            <th>Product</th>
            <td>{{ account.plan_product.name }}</td>
          </tr>
          <tr>
            <th>Plan</th>
            <td>{{ account.plan_name }}</td>
          </tr>
          <tr>
            <th>Client name</th>
            <td><a href='/sales/clients/{{ account.client.pk }}/'>{{ account.client.name|title }}</a></td>
          </tr>
          <tr>
            <th>Client number</th>
            <td>{{ account.client.phone }}</td>
          </tr>
          <tr>
            <th>Client location</th>
            <td>{{ account.client.location|title }}</td>
          </tr>
          <tr>
            <th>Current Disabled</th>
            <td>{{ account.days_disabled_current|floatformat }}</td>
          </tr>
          <tr>
            <th>Total Disabled</th>
            <td>{{ account.days_disabled|floatformat }}</td>
          </tr>
          <tr>
            <th>Left To Pay</th>
            <td>{{ account.left_to_pay|intcomma }}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
{% endfor %}
