{% extends "base.html" %}

<head>
  <title>Pulse > Clients</title>
  <meta name="description" content="Clients" />
</head>

{% block menu %}
  {% include "sales/menu.html" %}
{% endblock %}

{% block breadcrumbs %}
{{ client.name|title }} ({{ client.location|title }})
{% endblock %}

{% block content %}

<div class="content">

  <ul class="nav nav-pills">
    <li class="active"><a href="#summary" data-toggle="tab">Summary</a></li>
    <li><a href="#accounts" data-toggle="tab">Accounts</a></li>
    <li><a href="#credit" data-toggle="tab">Credit Scoring</a></li>
  </ul>

  <div class="tab-content">

    <div class="tab-pane active" id="summary">
      <div class="panel panel-primary">
        <div class="panel-heading"><h4 class="panel-title">Client information</h4></div>
      </div>
      {% with active_table=the_client %}
      {% include "sales/boxes_client_list.html" %}
      {% endwith %}
    </div>

    <div class="tab-pane" id="accounts">
      <div class="panel panel-primary">
        <div class="panel-heading"><h4 class="panel-title">Related accounts</h4></div>
      </div>
      {% with active_table=related_accounts %}
      {% include "sales/boxes_account_list.html" %}
      {% endwith %}
    </div>

    <div class="tab-pane" id="credit">
      <div class="panel panel-primary">
        <div class="panel-heading"><h4 class="panel-title">Credit scoring details</h4></div>
      </div>
    </div>

  </div>
</div>

{% endblock %}
