{% extends "base.html" %}
{% load humanize %}

<head>
  <title>Pulse > Sales Index</title>
  <meta name="description" content="Index of sales module" />
</head>

{% block menu %}
  {% include "sales/menu.html" %}
{% endblock %}

{% block breadcrumbs %}
  <li>
    <a href="{% url 'sales:index' %}">Sales Index</a>
  </li>
{% endblock %}


{% block content %}
<div class="content">

  <div class="container-fluid">

    <div class="row">
      <div class="col-lg-4">
        <div class="panel panel-primary">
          <div class="panel-heading"><h4 class="panel-title">
              <a href="{% url 'sales:index' %}">General</a></h4></div>
          <div class="panel-body">
            <table class="table table-condensed table-striped">
              <tr>
                <th>Overall repayment ratio</th>
                <td>{{ all_accounts.repayR }}</td>
              </tr>
              <tr>
                <th>&nbsp> this month</th>
                <td>{{ all_accounts.repayR_TM_today }}</td>
              </tr>
              <tr>
                <th>&nbsp> last month</th>
                <td>{{ all_accounts.repayR_LM }}</td>
              </tr>
              <tr>
                <th>Overall collection ratio</th>
                <td>{{ all_accounts.collectR }}</td>
              </tr>
              <tr>
                <th>&nbsp> this month</th>
                <td>{{ all_accounts.collectR_TM_today }}</td>
              </tr>
              <tr>
                <th>&nbsp> last month</th>
                <td>{{ all_accounts.collectR_LM }}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="panel panel-primary">
          <div class="panel-heading"><h4 class="panel-title">
              <a href="{% url 'sales:manager_index' %}">Managers</a></h4></div>
          <div class="panel-body">
            <table class="table table-condensed table-striped">
              <tr>
                <th>Number</th>
                <td>{{ manager_list|length|add:"-1" }}</td>
              </tr>
              <tr>
                <th>Top sales (curr.)</th>
                <td>James Koroma</td>
              </tr>
              <tr>
                <th>Top sales (last)</th>
                <td>HQ Easy Solar</td>
              </tr>
              <tr>
                <th>Top perf (curr.)</th>
                <td>James Koroma</td>
              </tr>
              <tr>
                <th>Top perf (last)</th>
                <td>HQ Easy Solar</td>
              </tr>
              <tr>
                <th>TBD</th>
                <td>tbd</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="panel panel-primary">
          <div class="panel-heading"><h4 class="panel-title">
              <a href="{% url 'sales:agent_index' %}">Agents</a></h4></div>
          <div class="panel-body">
            <table class="table table-condensed table-striped">
              <tr>
                <th>Number</th>
                <td>{{ agent_list|length|add:"-4" }}</td>
              </tr>
              <tr>
                <th>Top sales (curr.)</th>
                <td>Abu Bakkar Mansaray</td>
              </tr>
              <tr>
                <th>Top sales (last)</th>
                <td>Abu Bakkar Mansaray</td>
              </tr>
              <tr>
                <th>Top perf (curr.)</th>
                <td>Alie Kargbo</td>
              </tr>
              <tr>
                <th>Top perf (last)</th>
                <td>Abu Bakkar Mansaray</td>
              </tr>
              <tr>
                <th>TBD</th>
                <td>tbd</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <div class="panel panel-primary">
          <div class="panel-heading"><h4 class="panel-title">
              <a href="{% url 'sales:client_index' %}">Clients</a></h4></div>
          <div class="panel-body">
            <table class="table table-condensed table-striped">
              <tr>
                <th>Number</th>
                <td>{{ all_clients.nb|intcomma }}</td>
              </tr>
              <tr>
                <th>New this month</th>
                <td>{{ all_clients.nb_new_TM|intcomma }}</td>
              </tr>
              <tr>
                <th>New last month</th>
                <td>{{ all_clients.nb_new_LM|intcomma }}</td>
              </tr>
              <tr>
                <th>Accounts per client</th>
                <td>{{ all_clients.account_per_client }}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="panel panel-primary">
          <div class="panel-heading"><h4 class="panel-title">
              <a href="{% url 'sales:account_index' %}">Accounts</a></h4></div>
          <div class="panel-body">
            <table class="table table-condensed table-striped">
              <tr>
                <th>Number</th>
                <td>{{ all_accounts.nb|intcomma }}</td>
              </tr>
              <tr>
                <th>New this month</th>
                <td>{{ all_accounts.new_TM.nb|intcomma }}</td>
              </tr>
              <tr>
                <th>New last month</th>
                <td>{{ all_accounts.new_LM.nb|intcomma }}</td>
              </tr>
              <tr>
                <th>PAR (14 days)</th>
                <td>{{ all_accounts.PAR_14 }}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="panel panel-primary">
          <div class="panel-heading"><h4 class="panel-title">
              <a href="{% url 'sales:payment_index' %}">Payments</a></h4></div>
          <div class="panel-body">
            <table class="table table-condensed table-striped">
              <tr>
                <th>Number</th>
                <td>{{ all_payments.nb|intcomma }}</td>
              </tr>
              <tr>
                <th>New this month</th>
                <td>{{ all_payments.TM.nb|intcomma }}</td>
              </tr>
              <tr>
                <th>New last month</th>
                <td>{{ all_payments.LM.nb|intcomma }}</td>
              </tr>
              <tr>
                <th>Average payment</th>
                <td>{{ all_payments.average_payment }}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
{% endblock %}
