{% load static %}

<a class="navbar-brand" href="{% url 'index' %}"><img class="avatar" src="{% static 'easysolar-128.png' %}" style="margin-bottom:2px;"/> Pulse || Sales</a>
</div>

<div class="collapse navbar-collapse" id="wl-navbar-main">
  <ul class="nav navbar-nav">
    <li><a href="{% url 'sales:index' %}">Dashboard</a></li>
    <li class="dropdown">
    <a href="{% url 'sales:managers' %}" class="dropdown-toggle" data-toggle="dropdown">Managers<b class="caret"></b></a>
    <ul class="dropdown-menu">
      {% for m in all_managers %}
      <li><a href="{% url 'sales:manager' m.firstname %}">
        {{ m.firstname }} {{ m.lastname }}</a></li>
      {% endfor %}
    </ul>
    </li>
    <li class="dropdown">
    <a href="{% url 'sales:agents' %}" class="dropdown-toggle" data-toggle="dropdown">Agents<b class="caret"></b></a>
    <ul class="dropdown-menu">
      {% for a in all_agents %}
      <li><a href="{% url 'sales:agent' a.login %}">
        {{ a.location }} ({{ a.firstname }} {{ a.lastname }})</a></li>
      {% endfor %}
    </ul>
    </li>
    <li><a href="{% url 'sales:clients' %}">Clients</a></li>
    <li><a href="{% url 'sales:accounts' %}">Accounts</a></li>
    <li><a href="{% url 'sales:payments' %}">Payments</a></li>
    <li class="dropdown">
    <a href=# class="dropdown-toggle" data-toggle="dropdown">Reports<b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><a href="{% url 'sales:reports_revenue' %}">Revenue</a></li>
      <li><a href="{% url 'sales:reports_AR' %}">Accounts Receivable</a></li>
      <li><a href="{% url 'sales:reports_com' %}">Commission</a></li>
    </ul>
    </li>
    <li><a href="https://payg.angazadesign.com">Angaza</a></li>
  </ul>
</div>
